body {
    font-family: 'Kdam Thmor Pro', sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(192deg, #1e3e47, #034865, #feffff, #f9fbfa);


    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100%;

}

.container {
    padding: 15px;
    background: linear-gradient(192deg, #1e3e47, #034865, #feffff, #f9fbfa);
    box-shadow: 0 8px 32px 0 rgba(90, 94, 152, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 5px;
}

.item-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.log-in {
    font-size: 40px;
    color: var(--secondary-color);
}

.log-in::after {
    content: "";
    display: block;
    width: 60%;
    height: 3px;
    margin-top: 8px;
    background: var(--primary-gradient);
    margin-inline: auto;
}

.form-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

input[type="text"], input[type="password"], input[type="email"] {
    width: 300px;
    border-radius: 20px;
    background: white;
    outline: none;
    border: 1px solid transparent;
    padding: 5px 0px 5px 5px;
}

@media only screen and (max-width: 300px) {
    input[type="text"], input[type="password"] {
        width: 200px;
    }
}

.label {
    color: var(--secondary-color);
    margin-bottom: 3px;
}

.display-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 10px 0;
}

.item-container button {
    display: flex;
    justify-content: center;
    border-radius: 50%;
    border: none;
    padding: 5px;
    background: transparent;

    margin-left: 20px;
    box-shadow: 2px 2px 5px #353636;
}

button[type="submit"] {
    display: flex;
    justify-content: center;
    width: 100%;

    background: rgba(13, 9, 86, 0.707);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba(7, 15, 87, 0.914);

    color: white;
  padding: 10px;

}
.button{
    border-radius: 20px;
    border: none;
    padding: 5px;
    box-shadow: 2px 2px 5px #353636;
    display: flex;
    color: white;

}
@keyframes button-animation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}


.button:hover{
    animation: button-animation 0.7s ease-in-out;


}



.chekbox-label {
    font-size: 14px;
}

a {
    text-decoration: none;
    color: var(--link-color);
    font-size: 14px;
}

